<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menuMain">
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title>Usuarios</ion-title>
    <ion-fab bottom right>
        <button (click)="selectRow()" ion-fab mini ><ion-icon name="add" ></ion-icon></button>
    </ion-fab>      
  </ion-navbar>
</ion-header>
-->
<ion-header>
    <ion-row style="background-color:#96a3b2;height: 100%;">
      <ion-col col-2 style="background-color: #2a4a7c;" text-center>
        <div style="margin-top:5px;">
          <img src="../../assets/imgs/logo1.png" alt="" />
        </div>
      </ion-col>
      <ion-col col-7 text-center>
        <p style="color: white; font-size: 18px;"><b>Lista de Usuarios</b></p>
      </ion-col>
      <ion-col col-1 style="background-color:#96a3b2;text-align: center;padding:0;" >
        <p style="height: 100%;width: 100%;;padding:0;">
          <b style="height: 100%;width: 100%;padding:0;" class="pointer">
            <ion-icon
              name="add-circle"
              style="color: white;font-size: 40px;margin:0;"
              (click)="selectRow(null, null)"
            ></ion-icon>
          </b>
        </p>
      </ion-col>
      <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
        <button ion-button (click)="closePage()" style="background-color:#2a4a7c;"><ion-icon name="arrow-round-up" style="color: white;font-size: 30px;margin-top:10px;"></ion-icon></button>
        <button ion-button menuToggle="menuMain" style="background-color:#2a4a7c;text-align: center;">
          <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>
  </ion-header>
  
<ion-content padding class="tema-app">
  <!-- -->
    <div *ngIf="this.servicioFirebase.modelo['usuarios'] == 0">
      <ion-item>No hay usuarios.</ion-item>
    </div>
  <!-- -->
  <ion-grid> 
    <h6>
    <ion-row no-padding class="hdr">
      <ion-col>
      </ion-col>     
      <ion-col>
        Usuario
      </ion-col>
      <ion-col>
        Correo
      </ion-col>
      <ion-col>
        Roles
      </ion-col>
      <ion-col>
        Región
      </ion-col>
      <ion-col>
        Estatus
      </ion-col>
    </ion-row>
    </h6>
    <div *ngFor="let item of this.servicioFirebase.modelo['usuarios'];even as isEven" (click)="selectRow($event, item)" text-wrap>
      <ion-row no-padding [ngClass]="isEven? 'even' : 'odd'">            
        <ion-col>
          <button ion-item [ngClass]="isEven? 'even' : 'odd'">
            <ion-avatar item-start>
              <img [src]="item.foto" title="Ver detalle"/>
            </ion-avatar>
          </button>
        </ion-col>       
        <ion-col>
          {{ item.usuario }}
        </ion-col>
        <ion-col>
          {{ item.correo }}
        </ion-col>
        <ion-col>
          {{ item.roles }}
        </ion-col>
        <ion-col>
          {{ getRegion(item.idRegion) }}
        </ion-col>
        <ion-col>
          {{ item.estatus }}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
