<!--
<ion-header>
  <ion-navbar>
    <ion-title>colonia</ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-header>
    <ion-row style="background-color:#96a3b2;height: 100%;">
      <ion-col col-2 style="background-color: #2a4a7c;" text-center>
        <div style="margin-top:5px;">
          <img src="../../assets/imgs/logo1.png" alt="" />
        </div>
      </ion-col>
      <ion-col col-8 text-center>
        <ion-navbar color="navcolor">
          <ion-title><p style="color: white; font-size: 18px;"><b>Colonia</b></p></ion-title>
        </ion-navbar>
      </ion-col>
      <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
        <button ion-button menuToggle="menuCatalogos" style="background-color:#2a4a7c;text-align: center;">
          <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>
  </ion-header>

<ion-content padding class="tema-app">
  <div padding-horizontal text-center >
    <img src="../../assets/imgs/text.png" alt="Observador ciudadano">
  </div>
  <ion-grid>  
    <ion-row size-lg>
      <ion-col col-2 size-lg></ion-col>
      <ion-col col-8 size-lg>  
    
        <form (ngSubmit)="register()" #registerForm="ngForm" >
          <ion-row>
            <ion-col>
              <ion-list inset >
              <!-- -->
                <ion-item>
                  <ion-label>Estado</ion-label>
                  <ion-select [(ngModel)]="delta.estado" name="idEdo" disabled="{{isUpdate}}" (ionChange)="this.delta.idxEdo=idxEdo">
                    <ion-option *ngFor="let opcion of servicioFirebase.modelo[coleccion]; let idxEdo=index" [value]="opcion" >{{opcion.nombre}}</ion-option>                 
                  </ion-select>
                </ion-item>
                <br />
                <ion-item>
                  <ion-label>Municipio</ion-label>
                  <ion-select [(ngModel)]="delta.municipio" name="idMun" disabled="{{isUpdate}}" (ionChange)="this.delta.idxMun=idxMun">
                    <ion-option *ngFor="let opcion of delta.estado[coleccion]; let idxMun=index" [value]="opcion" >{{opcion.nombre}}</ion-option>                 
                  </ion-select>
                </ion-item> 
                <br />
                <ion-item>
                    <ion-label stacked>Colonia</ion-label>
                    <ion-input type="text" placeholder="cvcolonia" name="cvcolonia" [(ngModel)]="doc.region" required></ion-input>
                </ion-item>
                <br />
                <!-- -->
                <ion-item>
                    <ion-label stacked>Nombre de la colonia</ion-label>
                    <ion-input type="text" placeholder="colonia" name="colonia" [(ngModel)]="doc.nombre" required></ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-label stacked>Latitud</ion-label>
                    <ion-input type="number" placeholder="Latitud" name="latitud" [(ngModel)]="doc.latitude" required></ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-label stacked>Longitud</ion-label>
                    <ion-input type="number" placeholder="longitud" name="longitud" [(ngModel)]="doc.longitude" required></ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-label stacked>Demarcación</ion-label>
                    <ion-input type="text" placeholder="demarcación" name="demarcacion" [(ngModel)]="doc.demarcacion" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-col" *ngIf="!isUpdate">
              <button ion-button class="submit-btn round" full type="submit"  [disabled]="!registerForm.form.valid">Guardar</button>
            </ion-col>
            <ion-col class="ion-col">
              <button ion-button class="round" full type="button"  (click)="demarcar()" >Demarcar</button>
            </ion-col>
            <ion-col class="ion-col" *ngIf="isUpdate">
              <button ion-button class="submit-btn round" full type="button"  (click)="editar()" [disabled]="!registerForm.form.valid">Guardar</button>
            </ion-col>
            <ion-col class="ion-col" *ngIf="isUpdate">
              <button ion-button class="submit-btn round" full type="button"  (click)="borrar()" [disabled]="!registerForm.form.valid">Borrar</button>
            </ion-col>
          </ion-row>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
