<!--
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle="menuEncuestas">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-header>
    <ion-row style="background-color:#96a3b2;height: 100%;">
      <ion-col col-2 style="background-color: #2a4a7c;" text-center>
        <div style="margin-top:5px;">
          <img src="../../assets/imgs/logo1.png" alt="" />
        </div>
      </ion-col>
      <ion-col col-8 text-center *ngIf="rollPage!='preguntas'">
        <p style="color: white; font-size: 18px;"><b>{{titulo}}</b></p>
      </ion-col>
      <ion-col col-7 text-center *ngIf="rollPage=='preguntas'">
        <p style="color: white; font-size: 18px;"><b>{{titulo}}</b></p>
      </ion-col>
      <ion-col col-1 style="background-color:#96a3b2;text-align: center;padding:0;" *ngIf="rollPage=='preguntas'">
        <p style="height: 100%;width: 100%;;padding:0;">
          <b style="height: 100%;width: 100%;padding:0;" class="pointer">
            <ion-icon
              name="add-circle"
              style="color: white;font-size: 40px;margin:0;"
              (click)="selectRow(null, null)"
            ></ion-icon>
          </b>
        </p>
      </ion-col>
      <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
        <button ion-button menuToggle="menuEncuestas" style="background-color:#2a4a7c;text-align: center;">
          <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>
  </ion-header>

<ion-content padding>
  <!-- -->
  <div *ngIf="this.servicioFirebase.modelo[coleccion] == 0">
    <ion-item>No hay información</ion-item>
  </div>
  <!-- -->
    
  <div padding-horizontal text-center >
      <img src="../../assets/imgs/text.png" alt="Observador ciudadano">
  </div>
  <!--
  <ion-fab top right *ngIf="this.rollPage==this.nmColeccion">
    <button (click)="selectRow()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>  
  -->
  <ion-grid size-lg>

    <ion-row size-lg>
      <ion-col col-2 size-lg></ion-col>
      <ion-col col-8 size-lg>  
        <ion-row no-padding class="grad">
          <ion-col text-center>
            <h6>Clave</h6>
          </ion-col>
          <ion-col>
            <h6>Pregunta</h6>
          </ion-col>
          <ion-col>
            <h6>Tipo</h6>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-2 size-lg></ion-col>
    </ion-row>

    <ion-row>  
      <ion-col col-2></ion-col>
      <ion-col col-8>

        <div *ngFor="let item of this.servicioFirebase.modelo[coleccion];even as isEven" (click)="selectRow($event, item)">
          <ion-row no-padding [ngClass]="isEven? 'even' : 'odd'" class="pointer">
            <ion-col text-center>
              {{ this.item.cvPregunta }}
            </ion-col>
            <ion-col>
              {{ item.pregunta }}
            </ion-col>
            <ion-col>
              {{ item.tipo }}
            </ion-col>
            <ion-col col-1>
              <ion-icon name="eye" item-start class="text-primary" title="Ver detalle"></ion-icon>
            </ion-col>             
          </ion-row>
        </div>

      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
  