<ion-header>
  <ion-navbar>
    <ion-title>
      Evidencias del caso
    </ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content>
  <img [src]="foto" *ngIf="foto">
  <ion-fab top left>
    <button (click)="getLocation()" ion-fab mini><ion-icon name="map"></ion-icon></button>
  </ion-fab> 
  <ion-fab top right>
    <button (click)="getFoto()" ion-fab mini><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
  <input type="file" (change)="fileUpload($event)">
  <br><br><br><br>     
  <img [src]="foto" *ngIf="foto">
  <div *ngIf="imagen">
    Imagen:<br>
    <img [src]="imagen" width="100%" height="100%" alt="Imagen" />
  </div>
  <p>
     Latitude: {{latitud}} Longitud: {{longitud}}
  </p>
  
</ion-content>
-->
<ion-content>
<ion-grid><ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        Crucero Peligroso
      </ion-card-header>
      <ion-card-content>
          <ion-img [src]="url"  height='300' width='500'></ion-img>
        </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <ion-card-header>
        Accidentes frecuentes 
      </ion-card-header>
      <ion-card-content>
          <ion-img [src]="url2"  height='300' width='500'></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
      <ion-card-header>
        Afectación de circulación vial
      </ion-card-header>
      <ion-card-content>
          <ion-img [src]="url3"  height='300' width='500'></ion-img>
      </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
          <ion-card-header>
            Perdidas materiales 
          </ion-card-header>
          <ion-card-content>
              <ion-img [src]="url4"  height='300' width='500'></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
</ion-grid>
</ion-content>