<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="menuMain">
      <ion-icon name="menu"></ion-icon>
    </button>      
    <ion-title>Detalle del Caso</ion-title>
    <ion-fab top right>
      <button (click)="closePage()" ion-fab mini ><ion-icon name="arrow-round-up"></ion-icon></button>
    </ion-fab>          
</ion-navbar>

</ion-header>

<ion-content padding class="tema-app">
    <div padding-horizontal text-center >
        <img src="../../assets/imgs/text.png" alt="Observador ciudadano">
    </div>
  <ion-grid>  
    <ion-row size-lg>
      <ion-col col-2 size-lg></ion-col>
      <ion-col col-8 size-lg>  
  
  <form (ngSubmit)="register()" #registerForm="ngForm" >
      <ion-row>
        <ion-col>
          <ion-list inset>
              <ion-item>
                <ion-label stacked>Folio</ion-label>
                <ion-input type="text" name="idCase" [(ngModel)]="doc.idCase" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Caso</ion-label>
                <ion-input type="text" name="titulo" [(ngModel)]="doc.titulo" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Riesgo</ion-label>
                <ion-input type="text" name="riesgo" [(ngModel)]="doc.riesgo" readonly></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Impacto</ion-label>
                <ion-input type="text" name="impacto" [(ngModel)]="doc.impacto" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Fecha y hora</ion-label>
                  <ion-input type="text" name="fecha" value="{{ doc.dateCreation | date:'dd-MM-yyyy HH:mm:ss' }}" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Clasificación</ion-label>
                  <label>Clasificación</label>
                <ion-input type="text" name="clasificacion" [(ngModel)]="doc.idClassification" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Municipio</ion-label>
                  <label>Municipio</label>
                <ion-input type="text" name="municipio" [(ngModel)]="doc.municipio" readonly></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Descripción</ion-label>
                  <ion-textarea name="descripcion" [(ngModel)]="doc.description" readonly color="light"></ion-textarea>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Dirección</ion-label>
                  <ion-textarea name="direccion" [(ngModel)]="doc.address" readonly></ion-textarea>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Observador</ion-label>
                  <ion-input type="text" name="observador" [(ngModel)]="doc.delta.usuario" readonly></ion-input>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!--
      <ion-row>
        <ion-col class="ion-col" *ngIf="!isUpdate">
          <button ion-button class="submit-btn" full type="submit"  [disabled]="!registerForm.form.valid">Register</button>
        </ion-col>
        <ion-col class="ion-col" *ngIf="!isUpdate">
          <button ion-button class="submit-btn" full type="button"  (click)="editar()" [disabled]="!registerForm.form.valid">Editar</button>
        </ion-col>
        <ion-col class="ion-col" *ngIf="!isUpdate">
          <button ion-button class="submit-btn" full type="button"  (click)="borrar()" [disabled]="!registerForm.form.valid">Borrar</button>
        </ion-col>
        <ion-col class="ion-col" *ngIf="isUpdate">
            <button ion-button class="submit-btn" full type="button"  (click)="showImagen()" [disabled]="!registerForm.form.valid">  Ver Evidencias &nbsp;<ion-thumbnail><ion-img [src]="url"></ion-img></ion-thumbnail>

            </button>
          </ion-col>
        <ion-col class="ion-col" *ngIf="isUpdate">
            <button ion-button class="submit-btn" full type="button"  (click)="salir()" [disabled]="!registerForm.form.valid">  Salir&nbsp;<ion-icon name="arrow-round-up"></ion-icon></button>
        </ion-col>
        </ion-row>
      -->        
    </form>

      </ion-col>
    </ion-row>
  </ion-grid>       
</ion-content>
