<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menuMain">
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title>Evidencias</ion-title>
    <ion-fab top right >
      <button (click)="closePage()" ion-fab mini ><ion-icon name="arrow-round-up"></ion-icon></button>
    </ion-fab>          
  </ion-navbar>
</ion-header>
-->
<ion-header>
    <ion-row style="background-color:#96a3b2;height: 100%;">
      <ion-col col-2 style="background-color: #2a4a7c;" text-center>
        <div style="margin-top:5px;">
          <img src="../../assets/imgs/logo1.png" alt="" />
        </div>
      </ion-col>
      <ion-col col-8 text-center>
        <p style="color: white; font-size: 18px;"><b>Evidencias</b></p>
      </ion-col>
      <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
        <button ion-button (click)="closePage()" style="background-color:#2a4a7c;"><ion-icon name="arrow-round-up" style="color: white;font-size: 30px;margin-top:10px;"></ion-icon></button>
        <button ion-button menuToggle="menuMain" style="background-color:#2a4a7c;text-align: center;">
          <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>
  </ion-header>


<ion-content padding class="tema-app">
  <!-- -->
  <div *ngIf="this.servicioFirebase.modelo['evidencias'] == 0">
    <ion-item>No hay evidencias.</ion-item>
  </div>
  <!-- --> 
  <ion-grid>
    <ion-row no-padding class="hdr">
      <ion-col class="ion-text-center">
        <h6 style="text-align:center;">Galeria</h6>
      </ion-col>
    </ion-row>
    <div *ngFor="let item of this.servicioFirebase.modelo[coleccion];even as isEven" (click)="selectRow($event, item)" text-wrap>
      <ion-row no-padding [ngClass]="isEven? 'even' : 'odd'">
        <ion-col col-2></ion-col>            
        <ion-col col-8>              
          <ion-card *ngIf="item.tipo=='imagen'">
            <ion-card-header>
              Fotografia
            </ion-card-header>
            <ion-card-content>
              <div height='360' width='480' class="ion-text-center">
                <img [src]="item.urlPhoto"  height='360' width='480' />
              </div>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="item.tipo=='video'"> 
            <ion-card-header>
              Video
            </ion-card-header>
            <ion-card-content>
              <video controls="controls"  height='360' width='480' preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source [src]="item.urlPhoto" type="video/mp4" />
              </video>
            </ion-card-content>
          </ion-card>    
          
        </ion-col>       
        <ion-col col-1>
          {{item.tipo}}
        </ion-col>
        <ion-col col-1></ion-col>            
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
