<!--
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle="menuMain">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>Listado de Casos</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-header>
  <ion-row style="background-color:#96a3b2;height: 100%;">
    <ion-col col-2 style="background-color: #2a4a7c;" text-center>
      <div style="margin-top:5px;">
        <img src="../../assets/imgs/logo1.png" alt="" />
      </div>
    </ion-col>
    <ion-col col-7 text-center>
      <p style="color: white; font-size: 18px;"><b>Listado de Casos</b></p>
    </ion-col>
    <ion-col col-1 style="background-color:#96a3b2;text-align: center;padding:0;" >
      <!--
      <p style="height: 100%;width: 100%;;padding:0;">
        <b style="height: 100%;width: 100%;padding:0;" class="pointer">
          <ion-icon
            name="add-circle"
            style="color: white;font-size: 40px;margin:0;"
            (click)="selectRow(null, null)"
          ></ion-icon>
        </b>
      </p>
      -->
    </ion-col>
    <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
      <button ion-button menuToggle="menuMain" style="background-color:#2a4a7c;text-align: center;">
        <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
      </button>  
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding class="tema-app">
<!--   <div *ngIf="this.servicioDb.modelo[coleccion] == 0"> -->
  <div *ngIf="this.servicioFirebase.modelo[coleccion] == 0">
    <ion-item>No hay información</ion-item>
  </div>
<!--
  <ion-fab bottom right>
    <button (click)="selectRow()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>      
-->
<ion-searchbar [(ngModel)]="searchData"   (ionInput)="setFilter(searchData,this.servicioFirebase.modelo[coleccion])" placeholder="Buscar..."></ion-searchbar>
<div *ngIf="swFind" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-grid>
    <ion-row no-padding class="hdr">
      <ion-col col-1 style="text-align: center;">
        # {{items.length}}
      </ion-col>
      <ion-col>
        Caso 
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('titulo')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Fecha
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('dateCreation')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Clasificación
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('idClassification')"></ion-icon></button>
      </ion-col>
      <ion-col col-1>
        Riesgo
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('riesgo')"></ion-icon></button>
      </ion-col>
      <ion-col col-1>
        Impacto
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('impacto')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Region
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('region')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Usuario
        <button style="background-color:navy;"><ion-icon slot="icon-only" name="arrow-dropup" style="color: white;font-size: 18px;" (click)="setSort('usuario')"></ion-icon></button>
      </ion-col>      <ion-col col-1 style="text-align: center;">
        Detalle
      </ion-col> 
    </ion-row>
    <div *ngFor="let item of items; first as isFirst; even as isEven" (click)="selectRow($event, item)" text-wrap>
    <ion-row no-padding [ngClass]="isFirst ? 'first' :  isEven ? 'even' : 'odd'" class="pointer">
      <ion-col col-1 style="text-align: center;">
        {{ item.idCase}}
      </ion-col>
      <ion-col >
        {{ item.titulo}}
      </ion-col>
      <ion-col >
      {{ item.dateCreation | date:'dd-MM-yy HH:mm:ss' }}
      <!-- {{ item.dateCreation }} -->
      </ion-col>
      <ion-col >
        {{ item.idClassification}}
      </ion-col>
      <ion-col col-1>
        <div style="height: 24px; width: 24px; margin-top:1px;" *ngIf="item.riesgo=='Alto'" >
          <img src="../../assets/imgs/circulo.png" alt="" style="height: 100%; width: 100%;" />
        </div>        
        <div style="height: 24px; width: 24px; margin-top:1px;" *ngIf="item.riesgo=='Bajo'" >
          <img src="../../assets/imgs/circulov.png" alt="" style="height: 100%; width: 100%;" />
        </div>
        <div style="height: 24px; width: 24px; margin-top:1px;" *ngIf="item.riesgo=='Medio'" >
          <img src="../../assets/imgs/circuloa.png" alt="" style="height: 100%; width: 100%;" />
        </div>
      </ion-col>
      <ion-col col-1>
        {{ item.impacto}}
      </ion-col>
       <ion-col >
        {{ servicioFirebase.model["usuarios"][item.idObservador]["region"] }}  
      </ion-col>      <ion-col >
        {{ servicioFirebase.model["usuarios"][item.idObservador]["usuario"] }}  
      </ion-col>
      <ion-col col-1 style="text-align: center;">
        <ion-icon name="eye" item-start class="text-primary" title="Ver detalle"></ion-icon>
      </ion-col> 
  </ion-row>
</div>
 </ion-grid>
</ion-content>
