<ion-header>
  <ion-navbar>
      <button ion-button menuToggle="menuMain">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>Listado de Casos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="tema-app">
<!--   <div *ngIf="this.servicioDb.modelo[coleccion] == 0"> -->
  <div *ngIf="this.servicioFirebase.modelo[coleccion] == 0">
    <ion-item>No hay información</ion-item>
  </div>
<!--
  <ion-fab bottom right>
    <button (click)="selectRow()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>      
-->
<ion-searchbar [(ngModel)]="searchData"   (ionInput)="setFilter(searchData,this.servicioFirebase.modelo[coleccion])"></ion-searchbar>
<div *ngIf="swFind" class="spinner-container">
  <ion-spinner></ion-spinner>
</div>
<ion-grid>
    <ion-row no-padding class="hdr">
      <ion-col >
        # {{items.length}}
      </ion-col>
      <ion-col>
        Caso 
        <button><ion-icon slot="icon-only" name="arrow-dropup" (click)="setSort('titulo')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Fecha
        <button><ion-icon slot="icon-only" name="arrow-dropup" (click)="setSort('dateCreation')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Clasificación
        <button><ion-icon slot="icon-only" name="arrow-dropup" (click)="setSort('idClassification')"></ion-icon></button>
      </ion-col>
      <ion-col >
        Impacto
      </ion-col>
      <ion-col >
        Riesgo
      </ion-col>
      <ion-col >
        Municipio
        <button><ion-icon slot="icon-only" name="arrow-dropup" (click)="setSort('municipio')"></ion-icon></button>
      </ion-col>
      <ion-col col-1>
      </ion-col> 
    </ion-row>
    <div *ngFor="let item of items; first as isFirst; even as isEven" (click)="selectRow($event, item)" text-wrap>
    <ion-row no-padding [ngClass]="isFirst ? 'first' :  isEven ? 'even' : 'odd'" class="pointer">
      <ion-col >
        {{ item.idCase}}
      </ion-col>
      <ion-col >
        {{ item.titulo}}
      </ion-col>
      <ion-col >
      {{ item.dateCreation | date:'dd-MM-yy HH:mm:ss' }}
      <!-- {{ item.dateCreation }} -->
      </ion-col>
      <ion-col >
        {{ item.idClassification}}
      </ion-col>
      <ion-col >
        {{ item.impacto}}
      </ion-col>
      <ion-col >
        {{ item.riesgo}}
      </ion-col>
      <ion-col >
        {{ item.municipio}}
      </ion-col>
      <ion-col col-1>
        <ion-icon name="eye" item-start class="text-primary" title="Ver detalle"></ion-icon>
      </ion-col> 
  </ion-row>
</div>
 </ion-grid>
</ion-content>
