<ion-header>
    <ion-navbar>
        <button ion-button menuToggle="menuEncuestas">
            <ion-icon name="menu"></ion-icon>
        </button>  
      <ion-title>{{titulo}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-content padding>
        <!-- -->
          <div *ngIf="this.servicioFirebase.modelo[coleccion] == 0">
            <ion-item>No hay información</ion-item>
          </div>
         <!-- --> 
  
          <ion-fab bottom right *ngIf="this.rollPage==this.nmColeccion">
            <button (click)="selectRow()" ion-fab mini><ion-icon name="add"></ion-icon></button>
          </ion-fab>      
  
          <div *ngFor="let item of this.servicioFirebase.modelo[coleccion]" (click)="selectRow($event, item)" text-wrap>
            <ion-row no-padding>
              <ion-col text-right>
                {{ item.cvOpcion }}
              </ion-col>
              <ion-col text-right>
                {{ item.opcion }}
              </ion-col>
              <ion-col text-right>
                {{ item.valor }}
              </ion-col>
      </ion-row>
          </div>
        </ion-content>
  </ion-content>
  