<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menuEncuestas">
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title>cuestionario</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-header>
    <ion-row style="background-color:#96a3b2;height: 100%;">
      <ion-col col-2 style="background-color: #2a4a7c;" text-center>
        <div style="margin-top:5px;">
          <img src="../../assets/imgs/logo1.png" alt="" />
        </div>
      </ion-col>
      <ion-col col-8 text-center>
        <p style="color: white; font-size: 18px;"><b>Cuestionario</b></p>
      </ion-col>
      <ion-col col-2 style="background-color:#2a4a7c;text-align: center;" >
        <button ion-button menuToggle="menuEncuestas" style="background-color:#2a4a7c;text-align: center;">
          <ion-icon name="menu" style="color: white;font-size: 40px;margin-top:10px;"></ion-icon>
        </button>  
      </ion-col>
    </ion-row>
  </ion-header>

<ion-content padding class="tema-app">
  <div padding-horizontal text-center >
    <img src="../../assets/imgs/text.png" alt="Observador ciudadano">
  </div>
  <ion-grid>  
    <ion-row size-lg>
      <ion-col col-2 size-lg></ion-col>
      <ion-col col-8 size-lg>  
    
        <form (ngSubmit)="setRespuestas()" #registerForm="ngForm" >

            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Encuesta</ion-label>
                    <ion-select
                      [(ngModel)]="delta.encuesta"
                      name="encuesta"
                      (ionChange)="setIdRegion()"
                    >
                      <ion-option
                        *ngFor="
                          let opcion of servicioFirebase.modelo['encuestaInstancia']
                        "
                        [value]="opcion"
                        >{{ opcion.encuesta }}</ion-option
                      >
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
  <!-- empieza información de la encuesta -->
          <div *ngIf="delta.encuesta['encuesta']">
          <br />
          <ion-row>
            <ion-col>
              <ion-list inset >
                <br />
                <ion-item>
                    <ion-label stacked>Descripción</ion-label>
                    <ion-input type="text" placeholder="cuestionario" name="cuestionario" [ngModel]="doc.descripcion" readonly></ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-label stacked>Inicio encuesta</ion-label>
                  <ion-input type="text" placeholder="fhInicio" name="fhInicio" [ngModel]="doc.instancias.fhInicio" readonly></ion-input>
                </ion-item>
                <br />
                <ion-item>
                  <ion-label stacked>Cierre encuesta</ion-label>
                  <ion-input type="text" placeholder="fhFin" name="fhFin" [ngModel]="doc.instancias.fhFin" readonly></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </div>
        <!-- termina informacion de la encuesta -->
  
        <!-- empieza encuesta -->
  
          <ion-row>  
            <ion-col col-2></ion-col>
              <ion-col col-8>
                <div *ngFor="let item of doc.preguntas;even as isEven;let idx=index" >
                  <ion-row no-padding [ngClass]="isEven? 'even' : 'odd'" class="pointer">
                    <ion-col col-1>
                      {{ item.cvPregunta}}
                    </ion-col>                    
                    <ion-col text-center>
                      {{ item.pregunta}}
                      <ion-input type="text" placeholder="Proporciones su respuesta" name="respuesta-{{idx}}" [(ngModel)]="item.respuesta" *ngIf="item.tipo=='abierta'" required></ion-input>
                    </ion-col>                    
                  </ion-row>

                  <ion-list radio-group [(ngModel)]="item.respuesta" name="respuesta-{{idx}}" *ngIf="item.tipo=='cerrada'" required>
                    {{item.respuesta}}
                    <div *ngFor="let itemOp of item.opciones;even as isEven;let idy=index;" >
                      <br />
                      <ion-item>
                        <ion-label>{{ itemOp.cvOpcion}}</ion-label>
                        <ion-label>{{ itemOp.opcion }}</ion-label>
                        <ion-radio  [value]="itemOp.valor"></ion-radio>
                      </ion-item>
                    </div>
                  </ion-list>
                  
                  <ion-list *ngIf="item.tipo=='multiple'">
                    {{item.respuesta}}
                    <div *ngFor="let itemOp of item.opciones;even as isEven;let idy=index;">
                    <br /> 
                    <ion-item >
                      <ion-label>{{ itemOp.cvOpcion}}</ion-label>
                      <ion-label>{{itemOp.opcion}}</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="itemOp.isChecked" name="respuesta-{{idx}}" required></ion-checkbox>
                    </ion-item>
                    </div>
                  </ion-list>

                </div>        
              </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-col" *ngIf="isUpdate">
              <button ion-button class="submit-btn round" full type="submit"  [disabled]="!registerForm.form.valid">Guardar</button>
            </ion-col>
            <ion-col class="ion-col" *ngIf="isUpdate">
              <button ion-button class="submit-btn round" full type="button"  (click)="setRespuestas()" [disabled]="!registerForm.form.valid">Borrar</button>
            </ion-col>
          </ion-row>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
