<ion-header>
  <ion-navbar>
      <button ion-button menuToggle="menuCatalogos">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>Estados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-content padding>
      <!-- -->
        <div *ngIf="servicioFirebase.modelo[coleccion] == 0">
          <ion-item>No hay información</ion-item>
        </div>
       <!-- --> 

        <ion-fab bottom right>
          <button (click)="selectRow()" ion-fab mini><ion-icon name="add"></ion-icon></button>
        </ion-fab>      

        <div *ngFor="let item of this.servicioFirebase.modelo[coleccion]" (click)="selectRow($event, item)" text-wrap>
          <ion-row no-padding>
<!--            
            <ion-col text-right>
                {{ item.id }}
            </ion-col>
-->
            <ion-col text-right>
              {{ item.cvEstado}}
            </ion-col>
<!--
            <ion-col text-right>
              {{ item.estado }}
            </ion-col>
-->
          </ion-row>
        </div>
      </ion-content>
</ion-content>
