<ion-header>

  <ion-navbar>
    <ion-title>Pregunta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="register()" #registerForm="ngForm">
      <h4>{{doc.item.encuesta}}</h4>  
      <ion-row>
        <ion-col>
          <ion-list inset>
<!--
            <ion-item>
              <ion-label>Encuesta</ion-label>
              <ion-select [(ngModel)]="this.idPadre" name="id">
                <ion-option *ngFor="let opcion of servicioFirebase.modelo[padre]" [value]="opcion.id">{{opcion.encuesta}}</ion-option>                 
              </ion-select>
            </ion-item>
-->
            <ion-item>
              <ion-input type="text" placeholder="Pregunta" name="Pregunta" [(ngModel)]="doc.pregunta" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Tipo" name="Tipo" [(ngModel)]="doc.tipo" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-col" *ngIf="!isUpdate">
          <button ion-button class="submit-btn" full type="submit"  [disabled]="!registerForm.form.valid">Guardar</button>
        </ion-col>
        <ion-col class="ion-col" *ngIf="isUpdate">
          <button ion-button class="submit-btn" full type="button"  (click)="editar()" [disabled]="!registerForm.form.valid">Guardar</button>
        </ion-col>
        <ion-col class="ion-col" *ngIf="isUpdate">
          <button ion-button class="submit-btn" full type="button"  (click)="borrar()" [disabled]="!registerForm.form.valid">Borrar</button>
        </ion-col>
      </ion-row>

    </form>
</ion-content>