ion-content {
  width: 100%;
  height: 100%;
  --background: url("/assets/imgs/fondo.jpg") 0 0/100% 100% no-repeat;
  // min-height: calc(100vh - 70px);
}
.textForm {
  width: 100%;
  height: 100%;
}
.input {
  border: 5px solid #f4f5f8;
  border-radius: 20px;
  background-color: #f4f5f8;
}
.fondoInput {
  background-color: #f4f5f8;
}
ion-toolbar {
  --color: #ffffff;
  --background: #96a3b2;
}
.boton {
  --background: #2a4a7c !important;
}
.btnDetalle {
  --background: #2a4a7c !important;
}
.output {
  border: 5px solid #f4f5f8;
  border-radius: 20px;
  background-color: #96a3b2;
}
.fondoOutput {
  background-color: #96a3b2;
}